/* *{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}
ul li{
    list-style-type: none;
    padding: 18px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    
}
nav{
    background-color: aquamarine;
    height: 60px;
}

.text{
    background-image: url(./stars.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.text h1{
       color: white;
    font-size: 50px;
}
.text p{
    color: white;
    font-size: 30px;
    padding: 10px;
}
button{
    height: 50px;
    width: 90px;
    background-color: aquamarine;
    font-size: 15px;
    border: none;
}
.main{
    display: flex;
    height: 80vh;
}
.text1{
    height: 80vh;
    width: 50%;
    
}
.img{
    width: 50%;
    overflow: hidden;
}
img{
    height: 400px;
    width: 600px;
    padding: 20px;
    margin: 40px;
}
.text1 p{
    font-size: 30px;
    text-align: center;
   
}
@media only screen and (max-width: 768px){
    nav{
        font-size: 10px;
    }
    .main{
        display: flex;
        flex-direction: column;
        height: 60vh;
       
    }
    .img{
        width: 100%;
    }
    .img img{
        margin-bottom: 550px;
        height: 200px;
        width: 280px;
    }
    .text1 {
        width: 100%;
       
    }
    .text1 p{
        font-size: 17px;
        padding: 20px;
    }
}
@media only screen and (max-width: 480px){
     nav{
         font-size: 10px;
     }
     .main{
        display: flex;
        flex-direction: column;
        
    }
    .img{
        width: 100%;
    }
    .img img{
        height: 150px;
        width: 150px;
    }
    .text1 p{
        font-size: 10px;
        width: 100%;
    }
} */



/* .main{
    height: 300px;
    width: 300px;
    border: 1px solid black;
}
.box{
    height: 250px;
    width: 250px;
    border: 1px solid black;
}
.box1{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}
.box2{
    height: 150px;
    width: 150px;
    border: 1px solid black;
} */